@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
	font-family: 'Sharpin';
	src: local('Sharpin'),
		url(../../../../public/fonts/SHARPIN.otf) format('opentype');
}
@font-face {
	font-family: 'Stamp';
	src: local('Stamp'),
		url(../../../../public/fonts/TopSecretStamp-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Melted Monster';
	src: local('Melted Monster'),
		url('../../../../public/fonts/Melted Monster.ttf') format('truetype');
}
@font-face {
	font-family: 'Chubby Thumbs';
	src: local('Chubby Thumbs'),
		url('../../../../public/fonts/Chubby Thumbs.ttf') format('opentype');
}
